Repository terminal-nerds/brand, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏗️ continuous integration, 📓 documentation, 📦 package:colors, 📦 package:fonts, 📦 package:icon, 📦 package:logo, 🎉 release

chore(colors): ✨ Change package type to ESM
  packages/colors/package.json
  packages/colors/source/index.ts
Labels: 📦 package:colors

ci(greetings): 🐛 Fix message format
  .github/workflows/greetings.yml
Labels: 🏗️ continuous integration

chore(colors): ✨ Add package codebase
  packages/colors/source/helpers/color-parameters.ts
  packages/colors/source/index.ts
  packages/colors/source/palette/blue.ts
  packages/colors/source/palette/cyan.ts
  packages/colors/source/palette/green.ts
  packages/colors/source/palette/index.ts
  packages/colors/source/palette/magenta.ts
  packages/colors/source/palette/neutral.ts
  packages/colors/source/palette/red.ts
  packages/colors/source/palette/yellow.ts
  packages/colors/source/utils/ColorPalette.ts
  packages/colors/source/utils/ColorParameters.ts
Labels: 📦 package:colors

build(colors): 🔧 Configure building package with `tsup`
  packages/colors/package.json
  packages/colors/tsconfig.json
  packages/colors/tsup.config.ts
Labels: 📦 package:colors

build: 🏗️ Disable building in other packages
  helpers/package.json
  package.json
  packages/fonts/package.json
  packages/icon/package.json
  packages/logo/package.json
  pnpm-lock.yaml
Labels: 📦 package:fonts, 📦 package:icon, 📦 package:logo

fix(pnpm): 🐛 Fix lockfile
  pnpm-lock.yaml
Labels: none

fix: ➕ Add missing `ultra-runner` dependency
  package.json
  pnpm-lock.yaml
Labels: none

refactor(colors): ♻️ Reorganize codebase
  packages/colors/source/color-settings.ts
  packages/colors/source/helpers/color-parameters.ts
  packages/colors/source/index.ts
  packages/colors/source/palette/index.ts
  packages/colors/source/utils/ColorPalette.ts
  packages/colors/source/utils/ColorParameters.ts
Labels: 📦 package:colors

feat(colors): ✨ Add a script to generate CSS files
  packages/colors/package.json
  packages/colors/scripts/build-data.ts
  packages/colors/scripts/build-styles.ts
  packages/colors/scripts/tasks/data/create-json-data.ts
  packages/colors/scripts/tasks/data/save-json-to-files.ts
  packages/colors/scripts/tasks/styles/create-css-content.ts
  packages/colors/scripts/tasks/styles/minify-css-outputs.ts
  packages/colors/scripts/tasks/styles/resolve-css-imports.ts
  packages/colors/scripts/tasks/styles/save-css-to-files.ts
  packages/colors/scripts/tasks/styles/wrap-css-outputs.ts
  packages/colors/source/helpers/color-settings.ts
  packages/colors/source/helpers/css.ts
  packages/colors/source/utils/ColorPalette.ts
  packages/colors/source/utils/ColorParameters.ts
  packages/colors/tsconfig.json
Labels: 📦 package:colors

refactor(colors): ♻️ Rename `neutral` to `gray`
  packages/colors/source/color-settings.ts
  packages/colors/source/helpers/color-settings.ts
  packages/colors/source/helpers/css.ts
  packages/colors/source/index.ts
  packages/colors/source/palette/gray.ts
  packages/colors/source/palette/index.ts
  packages/colors/source/palette/magenta.ts
  packages/colors/source/palette/neutral.ts
  packages/colors/source/utils/ColorParameters.ts
Labels: 📦 package:colors

feat(helpers): ✨ Add shared helpers module and `number`
  helpers/package.json
  helpers/source/index.ts
  helpers/source/number.ts
  helpers/tsup.config.ts
Labels: none

chore: ⬆️ Upgrade dependencies
  helpers/package.json
  package.json
  packages/colors/package.json
  pnpm-lock.yaml
Labels: 📦 package:colors

chore(syncpack): 🔧 Improve syncpack configuration
  .github/renovate.json
  .github/workflows/continuous-integration.yml
  .syncpackrc.cjs
  package.json
  pnpm-lock.yaml
Labels: 🏗️ continuous integration

fix(syncpack): 🚨 Resolve format issues
  packages/colors/package.json
  packages/fonts/package.json
  packages/icon/package.json
  packages/logo/package.json
Labels: 📦 package:colors, 📦 package:fonts, 📦 package:icon, 📦 package:logo

refactor(colors): ♻️ Reorganize building data for preview & analysis
  packages/colors/package.json
  packages/colors/scripts/build-data.ts
  packages/colors/scripts/tasks/data/create-data.ts
  packages/colors/scripts/tasks/data/save-to-file.ts
  packages/colors/source/data/README.md
  packages/colors/source/data/colors-palette.json
  packages/colors/source/data/primary-colors.json
  packages/colors/tsup.config.ts
Labels: 📦 package:colors

build(helpers): ✨ Add new functions for JSON
  helpers/package.json
  helpers/source/json.ts
  pnpm-lock.yaml
Labels: none

chore(monorepo): 🔧 Improve workflow & update dependencies
  .lintstagedrc.js
  .stylelintrc.cjs
  helpers/package.json
  package.json
  packages/colors/package.json
  pnpm-lock.yaml
Labels: 📦 package:colors

chore(lint-staged): 🔧 Add caching for ESLint and Stylelint
  .lintstagedrc.js
Labels: none

feat(helpers/json): ✨ Add `minifyJSON` function
  helpers/source/json.ts
Labels: none

chore(dependencies): ⬆️ Pin & upgrade
  packages/colors/package.json
  pnpm-lock.yaml
Labels: 📦 package:colors

chore(pnpm): 🔒 Resolve audit issues
  package.json
  pnpm-lock.yaml
Labels: none

chore: 🚧
  .github/workflows/codeql.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/greetings.yml
Labels: 🏗️ continuous integration

Update actions/setup-node action to v3
  .github/workflows/continuous-integration.yml
Labels: 🏗️ continuous integration

Update actions/checkout action to v3
  .github/workflows/codeql.yml
  .github/workflows/continuous-integration.yml
Labels: 🏗️ continuous integration

Update actions/labeler action to v4
  .github/workflows/label.yml
Labels: 🏗️ continuous integration

Update actions/download-artifact action to v3
  .github/workflows/continuous-integration.yml
Labels: 🏗️ continuous integration

Update actions/upload-artifact action to v3
  .github/workflows/continuous-integration.yml
Labels: 🏗️ continuous integration

.github/labeler.yml:

# https://github.com/actions/labeler
---
"🏗️ continuous integration":
    - .github/**/*

"📓 documentation":
    - README.md
    - packages/*/README.md

"📦 package:colors":
    - packages/colors/**/*

"📦 package:fonts":
    - packages/fonts/**/*

"📦 package:icon":
    - packages/icon/**/*

"📦 package:logo":
    - packages/logo/**/*

"🎉 release":
    - packages/*/CHANGELOG.md
